@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
  font-family: 'Geist', 'Lato', sans-serif;
}

@theme {
  --color-primary: #161616;
  --color-secondary: #ffead0;
  --color-tertiary: #4d4d4d;
  --color-accent: #ffcc8d;
}
